services:
  app:
    build: .
    entrypoint: uv
    command: ['run', 'pytest']
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      TEST_DATABASE_URL: ${DATABASE_URL}
    depends_on:
      db:
        condition: service_started
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
